<header id="">
  <div class="navbar-header" style="padding: 0; margin-left: 0;">
    <div class="d-flex align-items-left">
      <button type="button" id="vertical-menu-btn" class="btn btn-sm px-3 font-size-24 header-item waves-effect">
        <i class="ri-menu-2-line align-middle"></i>
        <span>
            <img src="images/icons/menu-2-line.png" alt=""/>
          </span>
      </button>
      <form class="app-search d-none d-lg-block">
        <div class="position-relative">
          <input type="text" class="form-control" placeholder="Search...">
          <span style="opacity: 0.7;">
            <img width="16px" style="padding-bottom: 2px" src="images/icons/search-line.png" alt=""/>
          </span>
        </div>
      </form>
    </div>

    <div class="d-flex align-items-center" style="margin-right: 30px">
      <div class="dropdown d-inline-block">
        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="" src="images/flags/us.jpg" alt="Header Language" height="16">
          <span class="d-none d-sm-inline-block ml-1">English</span>
          <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <img src="images/flags/spain.jpg" alt="user-image" class="mr-1" height="12"> <span
            class="align-middle">Spanish</span>
          </a>

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <img src="images/flags/germany.jpg" alt="user-image" class="mr-1" height="12"> <span
            class="align-middle">German</span>
          </a>

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <img src="images/flags/italy.jpg" alt="user-image" class="mr-1" height="12"> <span
            class="align-middle">Italian</span>
          </a>

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <img src="images/flags/russia.jpg" alt="user-image" class="mr-1" height="12"> <span
            class="align-middle">Russian</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
