<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

  <div data-simplebar class="h-100">

    <div class="navbar-brand-box">
      <a href="index.html" class="logo">
        <i class="mdi mdi-alpha-h-circle"></i>
        <span>DBstreaming</span>
      </a>
    </div>

    <!--- Side menu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Menu</li>

        <li>
          <a href="index.html" class="waves-effect">
            <i class="feather-airplay"></i>
            <span class="badge badge-pill badge-primary float-right">7</span>
            <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a href="database-connection" class="waves-effect">
            <i class="mdi mdi-database-export"></i>
            <span>Database connection</span>
          </a>
        </li>

        <li>
          <a href="configurations" class="waves-effect">
            <i class="mdi mdi-toolbox"></i>
            <span>Configurations</span>
          </a>
        </li>

        <li>
          <a href="stream" class="has-arrow waves-effect">
            <i class="feather-list"></i>
            <span>Streaming</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="stream/add-stream">Add stream</a></li>
            <li><a href="stream/manage-streams">Manage streams</a></li>
          </ul>
        </li>

        <li>
          <a href="query" class="has-arrow waves-effect">
            <i class="mdi mdi-jquery"></i>
            <span>Query</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a href="query/add-query">Add query</a>
            </li>
            <li>
              <a href="query/manage-queries">Manage queries</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="job-stream" class="waves-effect">
            <i class="feather-box"></i>
            <span>Job stream</span>
          </a>
        </li>

        <li class="menu-title">More</li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="mdi mdi-file-document-box-search"></i>
            <span>Docs</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="https://spark.apache.org/docs/latest/structured-streaming-programming-guide.html">Spark docs</a></li>
            <li><a href="https://kafka.apache.org/">Kafka docs</a></li>
          </ul>
        </li>

      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->
