<div class="row">
    <div class="col-xl-12">
        <nb-card class="inline-form-card">
            <!-- <nb-card-header>Inline form</nb-card-header>
            <nb-card-body>
              <form class="form-inline">
                <input type="text" nbInput fullWidth placeholder="Jane Doe">
                <input type="text" nbInput fullWidth placeholder="Email">
                <nb-checkbox>Remember me</nb-checkbox>
                <button type="submit" nbButton status="primary">Submit</button>
              </form>
            </nb-card-body> -->
        </nb-card>
    </div>
</div>
