fastapi
sqlalchemy==1.4.15
uvicorn[standard]
alembic
mysqlclient
pydantic
starlette
pydantic[email]
twisted
requests
itemadapter
apscheduler
python-dotenv
unidecode~=1.2.0
psutil
psycopg2
pyodbc==4.0.32
python-telegram-bot
