<div class="row">
    <div class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card>
            <nb-card-body>
                <nb-stepper orientation="horizontal">
                    <nb-step [label]="labelOne">
                        <ng-template #labelOne>First step</ng-template>
                        <div class="form-group">
                            <label for="schedule" class="label"></label>
                            <form [formGroup]="manualInputForm" (ngSubmit)="onSubmitManual()">
                                <div class="row schedule">
                                    <div class="round schedule-head" style="margin: 10px 20px 0 30px;"
                                        (click)="onSelectSchedule('manual-input')">
                                        <input type="radio" name="schedule" id="manual-input" value="manual-input"
                                            [checked]="schedule == 'manual-input'" />
                                        <label for="manual-input"></label>
                                    </div>
                                    <div class="col-md-6 schedule-head"
                                        [ngClass]="{'schedule-inactive': schedule != 'manual-input'}"
                                        (click)="onSelectSchedule('manual-input')">
                                        <label for="manual-input" class="label">Manual input:</label>
                                    </div>
                                    <div class="col-md-12" [ngClass]="{'schedule-inactive': schedule != 'manual-input'}"
                                        (click)="onSelectSchedule('manual-input')">
                                        <textarea rows="5" formControlName="manualText" nbInput fullWidth shape="round"
                                            placeholder="Text Area"></textarea>
                                        <div
                                            *ngIf="manualInputForm.get('manualText').touched && manualInputForm.get('manualText').errors?.validMaster">
                                            <span class="helper-text">Query input is invalid</span>
                                        </div>
                                    </div>
                                    <!-- <button nbButton type="submit">submit</button> -->
                                </div>
                            </form>

                            <form [formGroup]="quickInputForm" (ngSubmit)="onSubmitQuick()">
                                <div class="row schedule">
                                    <div class="round schedule-head" style="margin: 10px 20px 0 30px;"
                                        (click)="onSelectSchedule('quick-input')">
                                        <input type="radio" name="schedule" id="quick-input" value="quick-input"
                                            [checked]="schedule == 'quick-input'" />
                                        <label for="quick-input"></label>
                                    </div>
                                    <div class="col-md-2 schedule-head"
                                        [ngClass]="{'schedule-inactive': schedule != 'quick-input'}"
                                        (click)="onSelectSchedule('quick-input')">
                                        <label for="quick-input" class="label">Select input:</label>
                                    </div>
                                    <div class="col-md-12" [ngClass]="{'schedule-inactive': schedule != 'quick-input'}"
                                        (click)="onSelectSchedule('quick-input')">

                                        <!-- TABLE QUERY -->
                                        <div class="row schedule" style="margin: 10px 20px 0 30px;">
                                            <div class="col-1">
                                                <label for="table" class="label">Table query:</label>
                                                <p><strong>(FROM)</strong></p>
                                            </div>
                                            <div class="col-6" formArrayName="fieldsTableQuery">
                                                <div *ngFor="let t of fieldsTableQuery.controls; let i = index"
                                                    [formGroupName]="i" class="row">
                                                    <div class="col-8" style="margin-bottom: 10px;">
                                                        <nb-select fullWidth style="margin: 0 20px 0 30px;"
                                                            (ngModelChange)="selecteTableStream($event)"
                                                            placeholder="Select table query"
                                                            formControlName="tableQuery">
                                                            <nb-option *ngFor="let e of listTableQuery" value="{{e}}">
                                                                {{e}}
                                                            </nb-option>
                                                        </nb-select>
                                                        <!-- <div
                                                            *ngIf="fieldsTableQuery.get('tableQuery').touched && fieldsTableQuery.get('tableQuery').errors?.required">
                                                            <span class="helper-text">Port is required</span>
                                                        </div> -->
                                                    </div>
                                                    <div style="padding-left: 50px;">
                                                        <button type="button" id="drop-column"
                                                            class="btn btn-sm font-size-20" (click)="dropTableQuery(i)">
                                                            <i class="fas fa-trash"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3" style="padding-left: 100px;">
                                                <button (click)="addTableQuery()" id="add-column" class="btn btn-sm"
                                                    type="button">
                                                    <i style="color: #276FCE; margin: 5px" class="fas fa-plus"></i>
                                                    <span class="" style="color: #276FCE; font-size: 16px;">More
                                                        table</span>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- TABLE QUERY -->

                                        <hr />

                                        <!-- QUERY FIELDS -->
                                        <div class="row schedule" style="margin: 10px 20px 0 30px;">
                                            <div class="col-1">
                                                <label for="table" class="label">Query fields:</label>
                                                <p><strong>(SELECT)</strong></p>
                                            </div>
                                            <div class="col-6" formArrayName="fieldsQueryField">
                                                <div *ngFor="let t of fieldsQueryField.controls; let i = index"
                                                    [formGroupName]="i" class="row">
                                                    <div class="col-8" style="margin-bottom: 10px;">
                                                        <nb-select fullWidth style="margin: 0 20px 0 30px;"
                                                            placeholder="Select query field"
                                                            formControlName="queryField">
                                                            <nb-option value="*">All fields (*)</nb-option>
                                                            <nb-option *ngFor="let e of listQueryField" value="{{e}}">
                                                                {{e}}
                                                            </nb-option>
                                                        </nb-select>
                                                    </div>
                                                    <div style="padding-left: 50px;">
                                                        <button type="button" id="drop-column"
                                                            class="btn btn-sm font-size-20" (click)="dropQueryField(i)">
                                                            <i class="fas fa-trash"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3" style="padding-left: 100px;">
                                                <button (click)="addQueryField()" id="add-column" class="btn btn-sm"
                                                    type="button">
                                                    <i style="color: #276FCE; margin: 5px" class="fas fa-plus"></i>
                                                    <span class="" style="color: #276FCE; font-size: 16px;">More
                                                        query field</span>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- QUERY FIELDS -->

                                        <hr />

                                        <!-- QUERY CONDITIONS -->
                                        <div class="row schedule" style="margin: 10px 20px 0 30px;">
                                            <div>
                                                <label for="table-responsive" class="label">Query conditions:</label>
                                                <p><strong>(WHERE)</strong></p>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table mb-0">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>Field</th>
                                                            <th>Operator</th>
                                                            <th>Value</th>
                                                            <th>Drop</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody formArrayName="fieldsConditions"
                                                        *ngFor="let t of fieldsConditions.controls; let i = index">
                                                        <tr [formGroupName]="i">
                                                            <td style="width: auto;">
                                                                <nb-select style="max-width: none;"
                                                                    placeholder="Select query field"
                                                                    formControlName="field">
                                                                    <nb-option style="width: auto;"
                                                                        *ngFor="let e of listQueryField" value="{{e}}">
                                                                        {{e}}
                                                                    </nb-option>
                                                                </nb-select>
                                                            </td>
                                                            <td>
                                                                <input type="text" formControlName="operator"
                                                                    style="border: none" placeholder="..." />
                                                            </td>
                                                            <td>
                                                                <input type="text" formControlName="value"
                                                                    style="border: none" placeholder="..." />
                                                            </td>
                                                            <td style="padding: 0 0 0 10px;">
                                                                <button type="button" id="drop-column"
                                                                    class="btn btn-sm font-size-20"
                                                                    (click)="dropConditions(i)">
                                                                    <i class="fas fa-trash"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div style="margin-left:10px">
                                                    <button (click)="addConditions()" id="add-column" class="btn btn-sm"
                                                        type="button">
                                                        <i style="color: #276FCE; margin: 5px" class="fas fa-plus"></i>
                                                        <span class="" style="color: #276FCE; font-size: 16px;">Add
                                                            conditions</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- QUERY CONDITIONS -->

                                        <hr />

                                        <!-- GROUP -->
                                        <div class="row schedule" style="margin: 10px 20px 0 30px;">
                                            <div>
                                                <label for="table" class="label">Group:</label>
                                                <p><strong>(GROUP BY)</strong></p>
                                            </div>
                                            <div formArrayName="fieldsGroup">
                                                <div *ngFor="let t of fieldsGroup.controls; let i = index"
                                                    [formGroupName]="i" class="row">
                                                    <div style="margin-bottom: 10px;">
                                                        <nb-select fullWidth style="margin: 0 20px 0 30px;"
                                                            placeholder="Select group by" formControlName="groupField">
                                                            <nb-option *ngFor="let e of listQueryField" value="{{e}}">
                                                                {{e}}
                                                            </nb-option>
                                                        </nb-select>
                                                    </div>
                                                    <div style="padding-left: 50px;">
                                                        <button type="button" id="drop-column"
                                                            class="btn btn-sm font-size-20" (click)="dropGroup(i)">
                                                            <i class="fas fa-trash"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="padding-left: 100px;">
                                                <button (click)="addGroup()" id="add-column" class="btn btn-sm"
                                                    type="button">
                                                    <i style="color: #276FCE; margin: 5px" class="fas fa-plus"></i>
                                                    <span class="" style="color: #276FCE; font-size: 16px;">More
                                                        group by</span>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- GROUP -->

                                        <hr />

                                        <!-- HAVING -->
                                        <div class="row schedule" style="margin: 10px 20px 0 30px;">
                                            <div>
                                                <label for="table-responsive" class="label">Having conditions:</label>
                                                <p><strong>(HAVING)</strong></p>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table mb-0">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>Method having</th>
                                                            <th>Field</th>
                                                            <th>Operator</th>
                                                            <th>Value</th>
                                                            <th>Drop</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody formArrayName="fieldsHavingConditions"
                                                        *ngFor="let t of fieldsHavingConditions.controls; let i = index">
                                                        <tr [formGroupName]="i">
                                                            <td style="width: auto;">
                                                                <nb-select style="max-width: none;"
                                                                    placeholder="Select method having"
                                                                    formControlName="method">
                                                                    <nb-option style="width: auto;" value="sum">
                                                                        SUM
                                                                    </nb-option>
                                                                    <nb-option style="width: auto;" value="count">
                                                                        COUNT
                                                                    </nb-option>
                                                                    <nb-option style="width: auto;" value="min">
                                                                        MIN
                                                                    </nb-option>
                                                                    <nb-option style="width: auto;" value="max">
                                                                        MAX
                                                                    </nb-option>
                                                                </nb-select>
                                                            </td>
                                                            <td style="width: auto;">
                                                                <nb-select style="max-width: none;"
                                                                    placeholder="Select having field"
                                                                    formControlName="field">
                                                                    <nb-option style="width: auto;"
                                                                        *ngFor="let e of listQueryField" value="{{e}}">
                                                                        {{e}}
                                                                    </nb-option>
                                                                </nb-select>
                                                            </td>
                                                            <td>
                                                                <input type="text" formControlName="operator"
                                                                    style="border: none" placeholder="..." />
                                                            </td>
                                                            <td>
                                                                <input type="text" formControlName="value"
                                                                    style="border: none" placeholder="..." />
                                                            </td>
                                                            <td style="padding: 0 0 0 10px;">
                                                                <button type="button" id="drop-column"
                                                                    class="btn btn-sm font-size-20"
                                                                    (click)="dropHavingConditions(i)">
                                                                    <i class="fas fa-trash"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div style="margin-left:10px">
                                                    <button (click)="addHavingConditions()" id="add-column"
                                                        class="btn btn-sm" type="button">
                                                        <i style="color: #276FCE; margin: 5px" class="fas fa-plus"></i>
                                                        <span class="" style="color: #276FCE; font-size: 16px;">Add
                                                            conditions</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- HAVING -->

                                        <hr />

                                        <!-- ORDER -->
                                        <div class="row schedule" style="margin: 10px 20px 0 30px;">
                                            <div>
                                                <label for="table-responsive" class="label">Order:</label>
                                                <p><strong>(ORDER BY)</strong></p>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table mb-0">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>Field</th>
                                                            <th>Order </th>
                                                            <th>Drop</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody formArrayName="fieldsOrder"
                                                        *ngFor="let t of fieldsOrder.controls; let i = index">
                                                        <tr [formGroupName]="i">
                                                            <td style="width: auto;">
                                                                <nb-select style="max-width: none;"
                                                                    placeholder="Select order field"
                                                                    formControlName="orderField">
                                                                    <nb-option style="width: auto;"
                                                                        *ngFor="let e of listQueryField" value="{{e}}">
                                                                        {{e}}
                                                                    </nb-option>
                                                                </nb-select>
                                                            </td>
                                                            <td>
                                                                <nb-select style="max-width: none;"
                                                                    placeholder="Select order" formControlName="order">
                                                                    <nb-option style="width: auto;" value="asc">
                                                                        ASC
                                                                    </nb-option>
                                                                    <nb-option style="width: auto;" value="desc">
                                                                        DESC
                                                                    </nb-option>
                                                                </nb-select>
                                                            </td>
                                                            <td style="padding: 0 0 0 10px;">
                                                                <button type="button" id="drop-column"
                                                                    class="btn btn-sm font-size-20"
                                                                    (click)="dropOrder(i)">
                                                                    <i class="fas fa-trash"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div style="margin-left:10px">
                                                    <button (click)="addOrder()" id="add-column" class="btn btn-sm"
                                                        type="button">
                                                        <i style="color: #276FCE; margin: 5px" class="fas fa-plus"></i>
                                                        <span class="" style="color: #276FCE; font-size: 16px;">Add
                                                            order</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ORDER -->
                                    </div>
                                </div>
                                <!-- <button nbButton type="submit">submit</button> -->
                            </form>
                            <div style="margin-top: 30px;">
                                <button status="success" style="float: right;" nbButton nbStepperNext>next</button>
                            </div>
                        </div>
                    </nb-step>

                    <nb-step [label]="labelTwo">
                        <ng-template #labelTwo>Second step</ng-template>
                        <label for="schedule" class="label"></label>
                        <form class="row" [formGroup]="scheduleAndContactForm" (ngSubmit)="onScheduleAndContact()">
                            <div class="form-group col-md-6">
                                <div class="row">
                                    <label for="inputEmail1" class="label col-sm-3 col-form-label">Topic kafka
                                        output:</label>
                                    <div class="col-sm-9">
                                        <input formControlName="topicOutput" required type="email" nbInput fullWidth
                                            id="topicOutput" (ngModelChange)="isValidTopic($event)"
                                            placeholder="Topic kafka output..." />
                                        <div
                                            *ngIf="scheduleAndContactForm.get('topicOutput').touched && scheduleAndContactForm.get('topicOutput').errors?.required">
                                            <span class="helper-text">Topic output is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                            </div>
                            <div class="form-group col-md-6">
                                <div class="row">
                                    <label for="inputEmail1" class="label col-sm-3 col-form-label">Notification
                                        schedule:</label>
                                    <div class="col-sm-9 row">
                                        <div>
                                            <nb-select selected="minute" class="col-sm-1"
                                                formControlName="selectSchedule">
                                                <nb-option value="day">Days</nb-option>
                                                <nb-option value="hour">Hours</nb-option>
                                                <nb-option value="minute">Minutes</nb-option>
                                            </nb-select>
                                        </div>
                                        <div class="col-sm-7">
                                            <input formControlName="inputTime" fullWidth required type="email" nbInput
                                                id="inputEmail1" placeholder="Input time..." />
                                            <div
                                                *ngIf="scheduleAndContactForm.get('inputTime').touched && scheduleAndContactForm.get('inputTime').errors?.required">
                                                <span class="helper-text">Input time is required</span>
                                            </div>
                                            <div
                                                *ngIf="scheduleAndContactForm.get('inputTime').touched && scheduleAndContactForm.get('inputTime').errors?.pattern">
                                                <span class="helper-text">Input time need to be a number</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                            </div>
                            <div class="form-group col-md-6">
                                <div class="row">
                                    <label for="inputEmail1" class="label col-sm-3 col-form-label">Contact
                                        method:</label>
                                    <div class="col-sm-9 row">
                                        <div>
                                            <nb-select formControlName="selectMethod" class="col-sm-1"
                                                placeholder="Select method" (selectedChange)="selectedMethod($event)">
                                                <nb-option value="mail">Email</nb-option>
                                                <nb-option value="telegram">Telegram</nb-option>
                                                <nb-option value="messenger">Messenger</nb-option>
                                            </nb-select>
                                        </div>
                                        <div class="col-sm-7">
                                            <input formControlName="inputMethod" fullWidth type="email" nbInput
                                                id="inputEmail1" (ngModelChange)="isValidRegex($event)"
                                                placeholder="Input contact..." />
                                            <div
                                                *ngIf="scheduleAndContactForm.get('inputMethod').touched && scheduleAndContactForm.get('inputMethod').errors?.required">
                                                <span class="helper-text">Contact address is required</span>
                                            </div>
                                            <div *ngIf="(!isValidEmail && methodSelected == 'email')">
                                                <span class="helper-text">Email is invalid format</span>
                                            </div>
                                            <div *ngIf="(!isValidTele && methodSelected == 'telegram')">
                                                <span class="helper-text">Telegram is invalid format</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <button nbButton type="submit">submit</button> -->

                        </form>
                        <div style="margin-top: 30px;">
                            <!-- <button
                                [disabled]="((!scheduleAndContactForm.valid || !manualInputForm.valid) || !isValidEmail) && (!scheduleAndContactForm.valid || !quickInputForm.valid)"
                                status="info" (click)="onSubmitAll()" style="float: right;" nbButton type="submit">add
                                query</button> -->
                            <button status="info" (click)="onSubmitAll()" style="float: right;" nbButton
                                type="submit">add
                                query</button>
                            <button status="success" style="float: right; margin-right: 20px;" nbButton
                                nbStepperPrevious>back</button>
                        </div>
                    </nb-step>
                </nb-stepper>
            </nb-card-body>
        </nb-card>
    </div>
</div>